.modal {

  &__wr {
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: red;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;

  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    padding: 20px 0px 0px 0px;
    // background-color: red;
  }

  &__form-boxes {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: rgb(20, 20, 24);
    padding: 4px;
    border-radius: 8px;
  }

  &__form-button {
    border: none;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(0, 128, 0, 0.555);
    color: white;

    &:hover {
      cursor: pointer;
    }
  }

  &__labels {
    font-weight: 600;
    color: white;
  }

  &__inputs {
    border: 1px solid rgb(6, 6, 63);
    color: white;
    border-radius: 8px;
    background-color: rgb(30, 30, 48);
    outline: none;
    flex-grow: 1;
    padding: 10px;
  }
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(7, 25, 37, 0.116);
  border-radius: 8px;
  padding: 30px;
  min-width: 500px;
  max-width: 500px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.733);
  &__boxes {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 100%;
  }

  &__img {
    width: 100%;
    height: 270px;
    border-radius: 10px;
  }

  &__title {
    color: white;
  }

  &__texts {
    color: white;
    font-weight: 600;
    font-size: 20px;
  }

  &__exit {
    width: 25px;
    right: 10px;
    position: absolute;
    top: 10px;
    color: white;
    border-radius: 8px;
    &:hover {
      background-color: rgba(128, 128, 128, 0.247);
      cursor: pointer;
    }
  }

}