.sidebar {
  background-color: rgba(6, 14, 29, 0.966);
  // padding: 30px;
  min-width: 150px;
  flex-grow: 1;
  max-width: 300px;
  width: 10%;
  &__link {
    color: white;
    text-decoration: none;
    padding: 20px;
    border-bottom: 1px solid rgba(214, 214, 214, 0.178);
    background-color: rgba(128, 128, 128, 0.075);

    &:hover {
      background-color: rgba(128, 128, 128, 0.205);
      cursor: pointer;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 60px;
  }
}

@media (max-width: 631px) {
  .sidebar{
    max-width: none;
    // max-height: 100px;
    &__list {
      flex-direction: row;
      width: 100%;
      margin-top: 0px;
    }

    &__link {
      flex-grow: 1;
    }
  }
}
