.sidebar {
  background-color: rgb(17, 8, 39);
  // padding: 30px;
  min-width: 300px;
  &__link {
    color: white;
    text-decoration: none;
    // width: 100% !important;
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
    border-top: 1px solid black;
    padding: 30px;
    margin-top: 40px;
  }

  li {
    width: 100%;
    background-color: rgba(128, 128, 128, 0.199);
    padding: 5px;
    border-radius: 8px;
  }
}